# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
.obsidian/
*.swp
*.swo

# 项目生成
logs/
reports/
*.md
!README.md
data/real_data/

# OS
.DS_Store
Thumbs.db

# Env
.env
/.obsidian
